<div class="home-container">
  <div class="home-header"></div>
  <div class="home-hero">
    <div class="heroContainer home-hero1">
      <div class="home-container01">
        <h1 class="home-hero-heading heading1">
          Empower Your Business with Our IT Solutions
        </h1>
        <span class="home-hero-sub-heading bodyLarge">
          <span>
            <span>
              <span>
                Your Partner in DevOps, System Administration, and IT
                Consultation
              </span>
              <span><span [innerHTML]="rawkpq6"></span></span>
            </span>
            <span>
              <span><span [innerHTML]="rawg25p"></span></span>
              <span><span [innerHTML]="rawhgw2"></span></span>
            </span>
          </span>
          <span>
            <span>
              <span><span [innerHTML]="raw3a70"></span></span>
              <span><span [innerHTML]="raw65pv"></span></span>
            </span>
            <span>
              <span><span [innerHTML]="rawxkqq"></span></span>
              <span><span [innerHTML]="raw1xlq"></span></span>
            </span>
          </span>
        </span>
        <div class="home-btn-group">
          <a href="tel:+971 50 923 7189" class="home-hero-button1 buttonFilled">
            Get Started Now
          </a>
          <a
            href="https://wa.me/00963948509320"
            target="_blank"
            rel="noreferrer noopener"
            class="home-hero-button2 buttonFlat"
          >
            Learn More →
          </a>
        </div>
      </div>
    </div>
  </div>
  <img
    alt="image"
    src="https://images.unsplash.com/photo-1558541966-d1071f7329bd?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDl8fE1hZXN0cm98ZW58MHx8fHwxNzA4Njc4MjI1fDA&amp;ixlib=rb-4.0.3&amp;w=1500"
    class="home-image"
  />
  <div class="home-features">
    <div class="featuresContainer">
      <div class="home-features1">
        <div class="home-container02">
          <span class="overline">
            <span>features</span>
            <br />
          </span>
          <h2 class="home-features-heading heading2">Our Key Services</h2>
          <span class="home-features-sub-heading bodyLarge">
            <span>
              <span>
                <span>
                  Explore the range of services we offer to meet your IT needs.
                </span>
                <span><span [innerHTML]="rawvn2r"></span></span>
              </span>
              <span>
                <span><span [innerHTML]="rawzel9"></span></span>
                <span><span [innerHTML]="rawabwm"></span></span>
              </span>
            </span>
            <span>
              <span>
                <span><span [innerHTML]="raw8mpt"></span></span>
                <span><span [innerHTML]="rawviah"></span></span>
              </span>
              <span>
                <span><span [innerHTML]="rawayai"></span></span>
                <span><span [innerHTML]="rawrj56"></span></span>
              </span>
            </span>
          </span>
        </div>
        <div class="home-container03">
          <feature-card
            heading="DevOps Solutions"
            subHeading="Streamline your development and operations processes for faster and more reliable software delivery."
          ></feature-card>
          <feature-card
            heading="Freelancing Projects"
            subHeading="Access a pool of talented freelancers for your project needs, from development to system administration."
          ></feature-card>
          <feature-card
            heading="System Administration Services"
            subHeading="Ensure the smooth operation of your systems with our expert administration services."
          ></feature-card>
          <feature-card
            heading="Site-Reliability Engineering"
            subHeading="Enhance the reliability and performance of your websites and applications with our specialized engineering solutions."
          ></feature-card>
        </div>
      </div>
    </div>
  </div>
  <div class="home-pricing">
    <div class="pricingContainer">
      <div class="home-container04">
        <span class="overline">
          <span>Pricing</span>
          <br />
        </span>
        <h2 class="heading2">Choose Your Plan</h2>
        <span class="home-pricing-sub-heading bodyLarge">
          <span>
            <span>Select the plan that best fits your needs and budget</span>
          </span>
        </span>
      </div>
      <div class="home-container05">
        <div class="freePricingCard home-pricing-card">
          <div class="home-container06">
            <span class="home-text36 heading3">Basic</span>
            <span class="bodySmall">
              Get started with essential services for Basic
            </span>
          </div>
          <div class="home-container07">
            <span class="home-text37">
              <span>$</span>
              <span></span>
            </span>
            <span class="home-basic-plan-pricing">200</span>
            <span class="home-text40">/ month</span>
          </div>
          <div class="home-container08">
            <div class="home-container09">
              <span class="home-text41">✔</span>
              <span class="bodySmall">Access to basic DevOps tools</span>
            </div>
            <div class="home-container10">
              <span class="home-text42">✔</span>
              <span class="bodySmall">
                Limited system administration support 2 Projects
              </span>
            </div>
            <div class="home-container11">
              <span class="home-text43">✔</span>
              <span class="bodySmall">Consultation on IT solutions</span>
            </div>
            <div class="home-container12">
              <span class="home-text44">✔</span>
              <span class="bodySmall">
                Limited freelancing project opportunities
              </span>
            </div>
          </div>
          <button class="home-button buttonOutline">Continue with Free</button>
        </div>
        <div class="home-pricing-card1 basicPricingCard">
          <div class="home-container13">
            <span class="home-text45 heading3">BASIC</span>
            <span class="bodySmall">
              Ideal for small businesses and startups
            </span>
          </div>
          <div class="home-container14">
            <span class="home-text46">
              <span>$</span>
              <span></span>
            </span>
            <span class="home-basic-plan-pricing1">350</span>
            <span class="home-text49">/ month</span>
          </div>
          <div class="home-container15">
            <div class="home-container16">
              <span class="home-text50">✔</span>
              <span class="bodySmall">All features of FREE plan</span>
            </div>
            <div class="home-container17">
              <span class="home-text52">✔</span>
              <span class="bodySmall">Full access to DevOps tools</span>
            </div>
            <div class="home-container18">
              <span class="home-text53">✔</span>
              <span class="bodySmall">
                System administration up to 10 Projects
              </span>
            </div>
            <div class="home-container19">
              <span class="home-text54">✔</span>
              <span class="bodySmall">Consultation on site reliability</span>
            </div>
            <div class="home-container20">
              <span class="home-text55">✔</span>
              <span class="bodySmall">Access to more freelancing projects</span>
            </div>
          </div>
          <a
            href="https://wa.me/00963948509320"
            target="_blank"
            rel="noreferrer noopener"
            class="home-link buttonFilledSecondary"
          >
            Try the Basic plan
          </a>
        </div>
        <div class="proPricingCard home-pricing-card2">
          <div class="home-container21">
            <span class="home-text56 heading3">
              <span>PRO</span>
              <br />
            </span>
            <span class="bodySmall">
              For enterprises and high-demand projects
            </span>
          </div>
          <div class="home-container22">
            <span class="home-text59">
              <span>$</span>
              <span></span>
            </span>
            <span class="home-pro-plan-pricing">500</span>
            <span class="home-text62">/ month</span>
          </div>
          <div class="home-container23">
            <div class="home-container24">
              <span class="home-text63">✔</span>
              <span class="bodySmall"> All features of BASIC plan</span>
            </div>
            <div class="home-container25">
              <span class="home-text65">✔</span>
              <span class="bodySmall">
                Priority support for DevOps solutions
              </span>
            </div>
            <div class="home-container26">
              <span class="home-text66">✔</span>
              <span class="bodySmall">
                Dedicated system administration services up to 15 projects
                (Contact for more)
              </span>
            </div>
            <div class="home-container27">
              <span class="home-text67">✔</span>
              <span class="bodySmall">
                Advanced site reliability consultation
              </span>
            </div>
            <div class="home-container28">
              <span class="home-text68">✔</span>
              <span class="bodySmall">
                Exclusive access to premium freelancing projects
              </span>
            </div>
          </div>
          <a
            href="https://wa.me/00963948509320"
            target="_blank"
            rel="noreferrer noopener"
            class="home-link1 buttonFilledSecondary"
          >
            Try the PRO plan
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-banner">
    <div class="bannerContainer home-banner1">
      <h1 class="home-banner-heading heading2">
        Welcome to Our IT Services Hub
      </h1>
      <span class="home-banner-sub-heading bodySmall">
        <span>
          <span>
            <span>
              We specialize in providing top-notch DevOps, Freelancing Projects,
              System Administration, Site-Reliability, and IT solutions tailored
              to meet your business needs. With our expert team, rest assured
              your IT challenges are in good hands. Let us help you elevate your
              business to the next level.
            </span>
            <span><span [innerHTML]="rawdsbj"></span></span>
          </span>
          <span>
            <span><span [innerHTML]="rawp1m2"></span></span>
            <span><span [innerHTML]="rawsyt6"></span></span>
          </span>
        </span>
        <span>
          <span>
            <span><span [innerHTML]="raw18jz"></span></span>
            <span><span [innerHTML]="rawaqqf"></span></span>
          </span>
          <span>
            <span><span [innerHTML]="rawj73e"></span></span>
            <span><span [innerHTML]="rawl90h"></span></span>
          </span>
        </span>
      </span>
      <a
        href="https://wa.me/00963948509320"
        target="_blank"
        rel="noreferrer noopener"
        class="home-banner-button buttonFilled"
      >
        Learn More
      </a>
    </div>
  </div>
  <div class="home-faq">
    <div class="faqContainer">
      <div class="home-faq1">
        <div class="home-container29">
          <span class="overline">
            <span>FAQ</span>
            <br />
          </span>
          <h2 class="home-text86 heading2">Common questions</h2>
          <span class="home-text87 bodyLarge">
            <span>Here are some of the most common questions that we get.</span>
            <br />
          </span>
        </div>
        <div class="home-container30">
          <app-question1
            answer="DevOps is a set of practices that combines software development (Dev) and IT operations (Ops). It aims to shorten the systems development life cycle and provide continuous delivery with high software quality."
            question="What is DevOps?"
          ></app-question1>
          <app-question1
            answer="You can hire freelancers for projects by posting your project requirements on our platform and selecting from a pool of talented freelancers who can deliver the desired results."
            question="How can I hire freelancers for projects?"
          ></app-question1>
          <app-question1
            answer="System Administration services include managing and maintaining computer systems, servers, and networks to ensure they operate efficiently and securely."
            question="What services are included in System Administration?"
          ></app-question1>
          <app-question1
            answer="Site-Reliability Engineering (SRE) is a discipline that incorporates aspects of software engineering and applies them to infrastructure and operations problems. The main goals are to create scalable and highly reliable software systems."
            question="What is Site-Reliability Engineering (SRE)?"
          ></app-question1>
          <app-question1
            answer="IT solutions and consultation can help optimize your business processes, improve efficiency, reduce costs, enhance security, and stay competitive in the digital landscape."
            question="How can IT solutions and consultation benefit my business?"
          ></app-question1>
        </div>
      </div>
    </div>
  </div>
  <div class="home-footer"></div>
</div>
